/* ========== Spinner ========== */
.spinner-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: $ultra-dark;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spinner-container 0s ease-in 3s forwards;
}
@keyframes spinner-container {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
.lds-spinner {
color: official;
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}
.lds-spinner div {
transform-origin: 40px 40px;
animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
content: " ";
display: block;
position: absolute;
top: 3px;
left: 37px; // mettre 200 + des inception ?
width: 6px;
height: 18px;
border-radius: 20%;
@include darkened-gradient-secondary-to-primary($primary-color, $secondary-color, 190deg, 20%);
}
.lds-spinner div:nth-child(1) {
transform: rotate(0deg);
animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
transform: rotate(30deg);
animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
transform: rotate(60deg);
animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
transform: rotate(90deg);
animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
transform: rotate(120deg);
animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
transform: rotate(150deg);
animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
transform: rotate(180deg);
animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
transform: rotate(210deg);
animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
transform: rotate(240deg);
animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
transform: rotate(270deg);
animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
transform: rotate(300deg);
animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
transform: rotate(330deg);
animation-delay: 0s;
}
@keyframes lds-spinner {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
/* ========== Operation ========== */
.op-section__ops__op {
    @extend %margin-left20;
    color: $dark;
    height: 70px;
    width: 260px;
    box-shadow: 0 3px 10px $medium-2;
    border-radius: 25px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    transition: 1s; // ne pas le placer sur le hover permet la transition dans les deux sens
    &:hover {
        background-color: $primary-color-lightened;
        color: $primary-color;
    }
    &__number {
        @extend %typo-text, %margin-right20;
        color: $ultra-light;
        background-color: $primary-color;
        height: 25px;
        width: 25px;
        line-height:25px;
        border-radius: 50%;
        @extend %flex-center-center;
        margin-left: -12.5px;   
    }
    &__fa-solid {
        @extend %typo-fa, %margin-right20;
        color: inherit;
    }
    &__txt {
        color: $ultra-dark;
        font-weight: bold;
    }
}
 /* ========== Gradient Button ========== */
.gradient-button {
    width: 220px;
    height: 50px;
    border-radius: 30px;
    @extend %typo-big-text;
    font-weight: 400;
    color: $ultra-light;
    @include box-shadow($medium-1);
    @include gradient-secondary-to-primary($secondary-color, $primary-color, 175deg);
    transition: box-shadow 1s ease-out;
    &:hover {
        @include lightened-gradient-secondary-to-primary($secondary-color, $primary-color, 175deg);
        @include box-shadow(darken($medium-1, 20%));
    }
  }
  /* ========== Card ========== */
.card {
    width: 100%;
    max-width: 270px;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    @include box-shadow($medium-2);
    transition: box-shadow 0.5s ease-out;
    &:hover {
        @include box-shadow(darken($medium-2, 20%));
    }
    &__a {
        &:link {
            color: $ultra-dark;
        }
        &:visited {
            color: $ultra-dark;
        }
        &__img-container {
            position: relative;
            &__new {
                color: $tertiary-color-darkened;
                background-color: $tertiary-color;
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 2;
                box-shadow: 0 0 2px $dark;
                border-radius: 2px;
                padding: 5px 10px;
                font-weight: bold;
            }
            &__img{
                width: 100%;
                object-fit: cover;
                height: 70%;
                max-height: 160px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                z-index: 1;
            }
        }
        &__info {
        @extend %padding5;
        position: relative;
        display: flex;
        justify-content: space-between;
            &__left-side {
                h4 {
                @extend %typo-text;
                font-weight: bold;
                }
                p {
                @extend %typo-text;
                }
            }
            // component fa-heart
    }
  }
}
 /* ========== fa-heart gradient ========== */
.menu-sol-heart {
     right: 49px;
     @extend %typo-fa;
}
.menu-reg-heart {
    right: 50px;
}
.home-sol-heart {
    top: 9px;
    right: 19px;
}
.home-reg-heart {
    top: 5px;
    right: 5px;
    @extend %padding5_15, %typo-fa;
}
.solid-heart {
    font-size: 22px;
    position: absolute;                             // Positionne les 2 coeurs l'un sur l'autre
    z-index: 1;                                     // Solid heart est sous regular
    -webkit-background-clip: text;                  // Attache le background au text
    //background-clip: text
    -webkit-text-fill-color: transparent;           // Pour permettre de le rendre transparent et plus tard lui attribuer une couleur
    opacity: 0;                                     
    transition: opacity 1s ease-out;                // Transition placé sur élément avant :hover, pour avoir le retour également en transition
}

.regular-heart {
    @extend %typo-fa;
    position: absolute;                             // Positionne les 2 coeurs l'un sur l'autre
    z-index: 2;
    &:hover~.solid-heart {                      // Au :hover
        @include gradient-secondary-to-primary($secondary-color, $primary-color, 0deg); // On remplit le coeur avec une couleur gradient
        opacity: 1;
    }
    &:hover {
        opacity: 0;
        transition: opacity 2s ease-out;            // Transition placé sur :hover, pour retrouver immédiatement la bordure au retour
    }
}
    