/* ========================================= Fonts ========================================= */
/*@font-face {
    font-family: 'Roboto', 'Shrikand';
    src: 
      url('/fonts/Roboto/Roboto-Regular.ttf')
  }
@font-face {
  font-family: 'Shrikand' ;
  src: url('/fonts/Shrikhand/Shrikhand-Regular.ttf');
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
  
  /* ========================================= General ========================================= */
  
  /* ============================== */
  /* ====== Global Settings ======= */
  /* ============================== */
  * {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  input:focus, textarea:focus, select:focus{
    outline: none;
    border: none;
}

.active {
  display: block;
}

.inactive {
  display: none;
}
  
  /* ====== Global witdhs ====== */  

header, main, footer, section, h1, form, .site-description,
.sizing-1 {
  width: 100%;
  min-width: 300px;
  max-width: 768px;
}


/* ====== Global margins ====== */

ul, h2, h3 {
  margin: 0;
}

h4, p {
  margin: 5px;
}

header h1 {
  margin-bottom: 10px;
}

.operations {
  margin-top: 5px;
}

h5 {
  margin: 10px 0 20px 0;
}

.footer-line {
  margin: 10px 0;
}

.footer-line p, .operations {
  margin-left: 10px;
}

.fa-location-dot {
  margin-left: 30px;
}

.card {
  margin: 15px
}

.cards {
  margin-top: 15px;
}
.operation li {
  margin-right: 15px;
}

ul {
  margin-top: 20px;
}
/* ====== Global paddings ====== */

ul {
  padding:0;
}
.new {
padding: 5px 10px;
}

.card-info {
  padding:5px;
}

.operation-section, .restaurants-title {
  padding: 0 15px;
}

footer {
  padding: 15px
}

.site-description, .operation-section, .restaurants-section {
  padding-top: 40px;
  padding-bottom: 40px;
}


/* ====== Background colors ===== */

form, .dot-container, .location {
  background-color :#eaeaea;
}

.site-description, .restaurants-section, .operation {
  background-color: #f7f6f7;
}

footer {
  background-color: #353535
}

.gradient {
  background: rgb(255,121,218);
  background: linear-gradient(175deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 90%);
}

/* ====== Global font-sizes ====== */

h1, h5 {
  font-family: 'shrikhand'
}

h1 {
  font-size: 28px;
}

h2, h3, h5 {
  font-size: 24px;
}

.fa-solid {
  font-size: 20px;
}

.location, .location::placeholder, p, .gradient, .fa-handshake-angle, .fa-utensils {
  font-size: 16px;
}

.fa-location-dot, h4, li, .footer-line p, .footer-line a, 
.card-info p, .card-info h4, .number {
  font-size: 14px;
}

/* ====== Global font-colors ====== */



.purple {
  color: #9356DC
}

.pink {
  color: #FF79DA;
}

.green {
  color: #99E2D0
}

.darkgreen {
  color :#229a7c;
}

.grey, .operation { /* Avant fa-solid et operation:hover pour l'inherit */
  color: grey;
}

a:link, a:visited, .operation-text { /* après le grey operation pour que l'inherit ne soit pas pris en compte pour .operation-text*/
  color: black;
}

.white, .white:link, footer a:link { /* Après black pour que le footer soit blanc, et après le grey  .operation pour que l'inherit ne soit pas pris en compte pour .number*/
  color: #ffff;
}

.fa-solid {
  color: inherit;
}

.operation:hover {
  background-color: #f5edff;
  color: #9356DC;
  transition: 1s;
}


/* ========================================== Header ========================================= */
header h1{
  font-weight: bold;
  text-align: center;
}

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    box-shadow: 0 3px 3px inset #dadadb;
  }

    .location {
      width : 150px;
      border: none;
      margin-left: 10px;
      color: black;
    }

    .location::placeholder {
      color: black;
      padding-left: 10px;
    }

  .site-description {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
    h2, .site-description p {
      text-align: center;
      width: 80%;
    }

    .site-description p {
      margin: 14px 0;
    }

    .site-description button {
      color: #ffff;
      box-shadow: 0 7px 7px #dadadb; /*offset x puis y, rayon du flou, rayon d'étalement. inset pour ombre intérieur*/
      width: 220px;
      height: 50px;
      border-radius: 30px;
      margin-top: 10px;
      font-weight: 400;
    }
/* ========================================== Main ========================================= */

/* ------------ Operations ------------- */
.operation-section {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.operations {
  align-self: center;
}

.operation {
  height: 70px;
  width: 260px;
  box-shadow: 0 3px 10px #dadadb;
  border-radius: 25px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.number {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color:#9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  margin-left: -12.5px;
  line-height:25px;
}


/* ------------ Cards ------------- */

.restaurants-section {
  display: flex;
  flex-direction: column;
}

.cards {
  align-self: center;
  min-width: 270px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 100%;
  max-width: 270px;
  box-shadow: 0 3px 10px #dadadb;
  border-radius: 10px;
  background-color: white;
}

.img-container {
  position: relative;
  
}

.new {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  font-weight: bold;
  background-color:#99E2D0;
  color:#229a7c;
  box-shadow: 0 0 2px grey;
  border-radius: 2px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  max-height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.fa-heart {
  margin: 7px 15px 0 0;
}

.fa-heart:hover {
  color: #9356DC;
  transition: 2s;
}


/* ========================================== Footer ========================================= */

.footer-line a {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.footer-line p {
  font-weight: bold;
}


/* ========================================== Media Queries ========================================= */
@media (min-width: 769px) and (max-width: 992px){



}

@media (min-width: 993px) {

}